.credits {
    color: #ff00ff;
    font-family: 'OpenDyslexic3', sans-serif;
}

body,
input {
    font-family: "Balthazar";
}

body {
    background-color: #d4d0b7;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

td {
    border-left: 2px solid #757263;
    border-right: 2px solid #757263;
    border-radius: 5px;
    background-color: #e5e0c1
}

td:hover,
.top input:hover,
select:hover {
    background-color: #a09d87
}

input {
    background: transparent;
    border: none;
}

.top input {
    border-left: 2px solid #757263;
    border-right: 2px solid #757263;
    border-radius: 5px;
    background-color: #e5e0c1
}

select {
    border-color: transparent;
    border-left: 2px solid #757263;
    border-right: 2px solid #757263;
    border-radius: 5px;
    background-color: #e5e0c1;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.bg {
    background-image: url(./tempbg.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    filter: blur(3px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.outputcost {
    white-space: break-spaces;
    font-size: 26px;
}

.outputHeader {
    text-decoration-line: underline;
}